In [33]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
# from sklearn.feature_selection import RFE[0:100,:]
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
import seaborn as sns
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [15]:
df=pd.read_csv('Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:

df.drop(columns=['customerID'],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [18]:
label_encoder=LabelEncoder()
df['gender']=label_encoder.fit_transform(df['gender'])
df['Partner']=label_encoder.fit_transform(df['Partner'])
df['Dependents']=label_encoder.fit_transform(df['Dependents'])

df['PhoneService']=label_encoder.fit_transform(df['PhoneService'])
df.head(1)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0

In [19]:
df['MultipleLines']=label_encoder.fit_transform(df['MultipleLines'])
df['InternetService']=label_encoder.fit_transform(df['InternetService'])
df['OnlineSecurity']=label_encoder.fit_transform(df['OnlineSecurity'])

df['OnlineBackup']=label_encoder.fit_transform(df['OnlineBackup'])



df['DeviceProtection']=label_encoder.fit_transform(df['DeviceProtection'])
df['TechSupport']=label_encoder.fit_transform(df['TechSupport'])
df['StreamingTV']=label_encoder.fit_transform(df['StreamingTV'])

df['StreamingMovies']=label_encoder.fit_transform(df['StreamingMovies'])
df['Contract']=label_encoder.fit_transform(df['Contract'])
df['PaperlessBilling']=label_encoder.fit_transform(df['PaperlessBilling'])
df['PaymentMethod']=label_encoder.fit_transform(df['PaymentMethod'])

df['Churn']=label_encoder.fit_transform(df['Churn'])

df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.5,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1

In [20]:
df['TotalCharges'].replace(' ', np.nan, inplace=True)
df.fillna(0,inplace=True)

/tmp/ipykernel_38911/979852391.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].replace(' ', np.nan, inplace=True)

In [21]:
df['TotalCharges']=df['TotalCharges'].astype(float)

In [22]:
X = df.drop('Churn', axis=1)
y = df['Churn']

# Apply PCA
# pca = PCA(n_components=2)
# X_pca = pca.fit_transform(X)

# # Create a new DataFrame with the PCA components and target
# pca_df = pd.DataFrame(data=X_pca, columns=['PC1', 'PC2'])
# pca_df['Churn'] = y

# # Plot the PCA components
# sns.scatterplot(x='PC1', y='PC2', hue='Churn', data=pca_df)

In [23]:
svc = SVC(kernel='linear')

# Use RFE to recursively remove features
# rfe = RFE(estimator=svc, n_features_to_select=14)  # Select 5 best features (adjust as needed)
# rfe.fit(X, y)

# # Get the selected features
# selected_features = X.columns[rfe.support_]
# print("Selected Features:", selected_features)

In [23]:
selected_features
X=X[selected_features]

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling
0,0,0,1,0,0,1,0,2,0,0,0,0,0,1
1,1,0,0,0,1,0,2,0,2,0,0,0,1,0
2,1,0,0,0,1,0,2,2,0,0,0,0,0,1
3,1,0,0,0,0,1,2,0,2,2,0,0,1,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,1,2,2,0,2,2,2,2,1,1
7039,0,0,1,1,1,2,0,2,2,0,2,2,1,1
7040,0,0,1,1,0,1,2,0,0,0,0,0,0,1
7041,1,1,1,0,1,2,0,0,0,0,0,0,0,1
7042,1,0,0,0,1,0,2,0,2,2,2,2,2,1

In [26]:
X_train, , y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
svc_model=svc.fit(X_train,y_train)

In [32]:
predict_value=svc_model.predict(X_test)
accuracy_score(y_test,predict_value)

0.7846663511594889

In [ ]:
print(8+8)

In [36]:
logiRegression=LogisticRegression()
model=logiRegression.fit(X_train,y_train)
predict_value=model.predict(X_test)
predict_value
accuracy_score(y_test,predict_value)

/home/om/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7983909133932797